.landing-page{
    display:block;
    height:100%;
    margin:0;
    width:100%;
    overflow:hidden;
}

.title{
    bottom:15%;
    color:white;
    display:inline-block;
    margin-left:8%;
    position:absolute;
    text-shadow:2px 4px 0px rgba(0, 0, 0, 0.5);
    z-index:100;
}

.title h1, .title h2{
    font-weight:300;
    margin:0;
    white-space:nowrap;
}

.title h1{
    font-size:7.6rem;
}

.title h2{
    font-size:4.8rem;
}

.title p{
    font-size:2rem;
    margin:0;
    margin-top:1.2rem;
}

.scroll-down{
    color: #1f1f1f;
    width: 4.4rem;
    height: 4.4rem;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    text-align:center;
    transform: translateX(-50%);
    z-index: 4;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.scroll-down svg{
    width:3.4rem;
    height:3.4rem;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}

.scroll-down:hover{
    background: rgba(255, 255, 255, 1);
}

.skillset .row{
    margin:0 auto;
}

.skill{
    display:inline-block;
    margin: 2%;
    margin-bottom: 2rem;
    vertical-align:top;
    width: 29.3333%;
}

.skill-icon, 
.skill-label,
.skill-description{
    display:block;
}

.skill-icon{
    margin:0 auto;
    position:relative;
    width:70%;
    height:10rem;
}

.skill-icon img{
    max-height:100%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

.skill-label{
    min-height:6rem;
    text-align:center;
}

.project-logos{
    background:#1f1f1f;
    margin:0;
    padding: 3rem 0 9rem;
    display:block;
    position:relative;
    z-index:100;
}

.project-logos h2{
    color:white;
}

.logo-row .logo{
    display:inline-block;
    text-align:center;
    width:100%;
}

.logo-row img{
    margin: 0 auto;
    max-width:80%;  
    vertical-align:middle;
}

.circle img{
    max-width:5rem;
}


@media screen and (max-width:740px){
    .title{
        text-align:center;
        top:50%;
        left:50%;
        bottom:auto;
        margin:0;
        padding:2rem;
        transform:translate(-50%, -50%);
        width:80%;
    }
    .title h1{
        font-size:4.2rem;
    }
    .title h2{
        font-size:2.4rem;
    }
} 

@media screen and (min-width:768px){

    .project-logos .logo{
        width:20%;
    }
    
    
}

@media screen and (min-width: 741px) and (max-width: 1200px){
    .title{
        max-width: 60%;
    }
    .logo img{
        max-width: 70%;
    }
}

