.landing-page{
    margin:0;
    position:relative;
}

.landing-page .background{
    z-index:1;
}

.landing-page .background.wide-screen{
    display:none;
}

.title{
    height:100%;
    left:0;
    position:relative;
    width:100%;
    color:white;
    display:inline-block;
    text-shadow:2px 4px 0px rgba(0, 0, 0, 0.5);
    z-index:100;
}

.title-text{
    color:white;
    display:inline-block;
    text-shadow:0px 4px 0px rgba(0, 0, 0, 0.5);
    text-align:center;
    top:50%;
    margin:0 5%;
    position:absolute;
    transform:translateY(-50%);
    width:90%;
    z-index:200;
}

.title h1, .title h2{
    margin:1.2rem 0;
    white-space:nowrap;
}

.title h1{
    font-size:4.2rem;
}
.title h2{
    font-size:2.4rem;
}

.title p{
    margin:0;
    margin-top:1.2rem;
}

.skillset,
.clients{
    display:inline-block;
    padding: 5%;
    width:90%;
}

.clients{
    background: #1f1f1f;
}

.skillset{
    background: #ececec;
    text-align:center;
}

.skillset h2, 
.clients h2{
    text-align:center;
}

.skill{
    background:white;
    border-radius:.4rem;
    box-shadow: .2rem .4rem rgba(0, 0, 0, 0.5);
    display:block;
    height:auto;
    margin:10% auto;
    position:relative;
    vertical-align:top;
    width: 100%;
    z-index:300;
}

.skill-icon{
    background: #50A398;
    display:inline-block;
    margin:0;
    position:relative;
    width:100%;
    height:21rem;
}

.skill-icon div{
    border-radius:50%;
    display:inline-block;
    background:#336861;
    box-shadow:.2rem .4rem rgba(0, 0, 0, 0.5);
    height:16rem;
    width: 16rem;
    z-index:200;
}

.skill-icon div, .skill-icon img{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.skill-icon img{
    color:#098686;
    height:10rem;
    width:10rem;
    z-index: 300;
}

.skill-icon svg{
    color:#098686;
}

.skill-details{
    background:white;
    display:inline-block;
    margin:0;
    padding:10% 7%;
    position:relative;
    text-align:center;
    width:86%;
}

.skill-label{
    margin-top:0;
    text-align:center;
}

.skill-description{
    text-align:left;
}

.view-projects{
    border-radius:.8rem;
    display:inline-block;
    box-shadow: .2rem .4rem rgba(0, 0, 0, 0.5);
    margin: 5% auto 15%;
    padding: 3rem 6rem;
    white-space:nowrap;
}

.clients h2{
    color:white;
}

.clients .logo{
    display:inline-block;
    text-align:center;
    width:100%;
    width:100%;
    height: 20%;
    margin: 0;
    position:relative;
    z-index:300;
}

.clients img{
    margin: 2rem auto;
    max-width:50%;  
    vertical-align:middle;
}

.circle img{
    max-width:12rem;
}

@media screen and (max-width:1199px){
    .skill-details .centered-content{
        position:relative;
        transform:translate(0, 0);
        left:0;
        top:0;
    }
}

@media screen and (min-width:768px){
    .skill{
        display:inline-block;
        margin:2rem 3%;
        width:44%;
    }
    
    .skillset{
        z-index:400;
    }
    
    .skillset .view-projects{
        display:block;
        margin: 3% auto;
        width:10rem;
    }
    

}


@media screen and (min-width:815px){

    .landing-page .background.mobile{
        display:none;
    }
    
    .landing-page .background.wide-screen{
        display:inherit;
    }
    
    .title h1{
        font-size:6.4rem;
    }

    .title h2{
        font-size:4.4rem;
    }
    
    .title p{
        font-size:1.8rem;
    }
    
    .title-text{
        top:70%;
        margin-left:8%;
        position:relative;
        text-align:left;
        width:42rem;
    }
    
    .clients{
        height:40rem;
    }

    .clients h2{
        color:white;
    }

    .clients .logo{
        display:inline-block;
        text-align:center;
        width:20%;
        height: 20%;
        margin: 2rem auto 2%;
        padding: 0;
        position:relative;
        z-index:300;
    }

    .clients img{
        margin: 0 auto;
        max-width:80%;  
        vertical-align:middle;
    }

    .circle img{
        max-width:5rem;
    }
    
    .logo img{
        max-height: 100%;
        max-width: 50%;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
    }
    
}

@media screen and (min-width:1200px){

    .skill{
        display:inline-block;
        margin:2rem 3%;
        height: 35rem;
        width:44%;
    }
    
    .skill-icon{
       float:left;
       height:100%;
       width:30%;
    }
    
    .skill-details{
        padding:0 5%;
        height:100%;
        width:60%;
    }
    
    .skill-details .centered-content{
        width:80%;
    }
    
    .skillset{
        z-index:400;
    }
    
    .skillset .view-projects{
        display:block;
        margin: 3% auto;
        width:10rem;
    }

}